{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Пользователи</h1>
    
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Роль</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.last_name }} {{ user.first_name }} {{ user.middle_name if user.middle_name is not none }}</td>
                    <td>{{ user.role.name }}</td>
                    <td>
                        {% if can_user('users', 'show', user_id=user.id) %}
                            <a href="{{ url_for('users.show', user_id=user.id) }}" class="btn btn-sm btn-primary">Просмотр</a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            {% if can_user('users', 'edit', user_id=user.id) %}
                                <a href="{{ url_for('users.edit', user_id=user.id) }}" class="btn btn-sm btn-primary">Редактирование</a>
                            {% endif %}
                            {% if can_user('users', 'delete', user_id=user.id) %}
                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-user-id="{{ user.id }}" data-user-name="{{ user.last_name }} {{ user.first_name }} {{ user.middle_name if user.middle_name is not none }}">Удаление</button>
                            {% endif %}                      
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if current_user.is_authenticated %}
    <div class="mt-3">
        {% if can_user('users', 'create') %}
            <a href="{{ url_for('users.new') }}" class="btn btn-primary">Создание пользователя</a>
        {% endif %}
    </div>
    {% endif %}
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Удаление учетной записи</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить пользователя <span id="userFullName"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                    <form method="POST" id="deleteModalForm">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='user_delete_modal.js') }}"></script>
{% endblock %}