{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Изменение пароля</h1>
    <form method="post">
        <div class="mb-3">
            <label for="exampleOldPassword1">Старый пароль</label>
            <input type="password" id="exampleOldPassword1" name="old_password" class="form-control {{ 'is-invalid' if errors.get('old_password') }}">
            {% if errors.get('old_password') %}
                <div class="invalid-feedback">{{ errors.get('old_password') }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="exampleNewPassword1">Новый пароль</label>
            <input type="password" id="exampleNewPassword1" name="new_password" class="form-control {{ 'is-invalid' if errors.get('new_password') }}">
            {% if errors.get('new_password') %}
                <div class="invalid-feedback">{{ errors.get('new_password') }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="exampleNewPassword2">Повторите новый пароль</label>
            <input type="password" id="exampleNewPassword2" name="confirm_password" class="form-control {{ 'is-invalid' if errors.get('confirm_password') }}">
            {% if errors.get('confirm_password') %}
                <div class="invalid-feedback">{{ errors.get('confirm_password') }}</div>
            {% endif %}
        </div>
        <button class="btn btn-primary">Сменить пароль</button>
    </form>
{% endblock %}